<!--
    v-for指令的作用是：根据数据生成列表结构

    数组经常和v-for一起使用

    语法是（item，index）in 数据

    item和index可以结合其他指令一起使用

    数组长度的更新会同步到页面上，是响应式的

-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>v-for指令</title>
</head>
<body>
    <div id="app">
        <button @click="add">添加蔬菜</button>
        <button @click="remove">减少蔬菜</button>
        <ul>
            <li v-for="(item,index) in arr">
                {{index+1}}四大神兽：{{item}}
            </li>
        </ul>
        <h2 v-for="item in vegetables" v-bind:title="item.name">
            {{item.name}}
        </h2>
    </div>
        <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el:"#app",
            data:{
                arr:["青龙","白虎","朱雀","玄武"],
                vegetables:[
                    {name:"青菜"},
                    {name:"白菜"}
                ]
            },
            methods:{
                add:function(){
                    this.vegetables.push({name:"胡萝卜"});
                },
                remove:function(){
                    this.vegetables.shift();
                }
            }
        })
    </script>
</body>
</html>